:root {
    --text-color: #070707;
    --gray-color: #828282;
    --bg-gray: #f6f6f6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.125rem;
    color: var(--text-color);

}
img {
    vertical-align: top;
}
.container {
    width: min(90%, 970px);
    margin-inline: auto;
}

header .container {
    border-bottom: 1px solid var(--gray-color);
    padding: 24px 0 25px;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.navigation ul {
    text-align: center;
    font-size: 0;
}

.navigation ul li {
    display: inline;
    margin: 21px;
    font-size: 1.125rem;
}

.navigation ul li a {
    color: var(--gray-color);
    text-decoration: none;
    line-height: 30px;
}

.navigation ul li a:hover {
    color: var(--text-color);
    font-weight: bold;
}
.first_block{
    margin-top: 12px;
}
.photo {
    width: 100%;
    object-fit: contain;
}


h1 {
    font-size: 3rem;
    margin-bottom: 45px;

}

.about-me h2 {
    font-size: 2.125rem;
    text-align: center;
    font-weight: 700;
    margin-top: 100px;
}

.text{
    text-align: center;

}
.text p{
    margin-top: 43px;
    font-size: 1.125rem;
    height: 37px;
}
/* header*/


.skills-container{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 970px;
    height: 564px;
    flex-shrink: 0;
}

.skills h2{
    margin-top: 210px;
    font-size: 2.125rem;
    font-weight: 700;
    text-align: center;
}
.skills p{
    margin-top: 20px;
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
}
.stars-list {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.stars-list li {
    display: inline-block;
}

.stars-list img {
    width: 26px;  
    height: 26px; 
}


.program-container{
    text-align: center; 
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.0175rem;
}
.program-container div {
    display: inline-block;
    text-align: center;
    width: 200px; 
    vertical-align: top;
    margin: 0 19px;
}

.program-container div img {
   
    margin-top: 45px;
}

.program-container div p {
    margin: 21px 44px;
    padding: 10px 0;
    font-size: 0.875rem;
    width: 110px;
    font-weight: 700;
    font-family: "Open Sans";
    line-height: 1.5; 
    height: 38px; 
    display: flex;
    letter-spacing: 0.0175rem;
    align-items: center;
    justify-content: center;
    color: var(--text, #828282);
}
.photoshop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.illustrator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.aftereffects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.figma {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.portfolio-conteiner h2{
    text-align: center;
    font-size: 2.125rem;
    font-weight: 700;
    margin-top: -45px;
    margin-bottom: 40px;
}
.portfolio-conteiner img{
    margin-bottom: 43px;
}
.fashion {
    text-decoration: none;
    text-decoration-line: underline;
}
.portfolio-conteiner p{
text-align: center;
text-decoration-line: underline;
font-family: "Open Sans";
font-size: 1.125rem;
font-weight: 400;
margin-bottom: 65px;

}

.contacts {
    margin-top: 200px ;
    text-align: center;
    margin-bottom: 90px;
}

.contacts-group h2{
margin-bottom: 20px;
font-size: 2.125rem;
font-weight: 700;
font-family: "Open Sans";
flex-shrink: 0;
color: var(--Black, #070707);
}

.btn{
    margin-top: 50px;
    display: inline-block;
    height: 44px;
    line-height: 40px;
    padding: 0 16px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    border-radius: 22px;
    border: 2px solid #000;
    cursor: pointer;
    font-family: 'Opean Sans', sans-serif;
    font-size: 1.125rem;
    letter-spacing: 0.1125rem;
    margin-bottom: 3px;
}
.btn:hover{
    color:#000;
    background-color: #fff;
    transform: scale(1.05);
    transition: all 0.3s ease;
}
.contacts ul{
    padding: 0;
    display: flex;
    justify-content: center;
   
}
.contacts ul li {
    padding: 25px;
    margin-bottom: 37px;
}
.contacts ul li a:hover {
    opacity: 0.5;
}
.contacts-text{
    color: var(--gray-color);
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Open Sans";
}