.container {
    width: min(90%, 1600px);
    margin: 0 auto; 
}
header {
    height: 800px;
    background-color: #7E5AFF;
}
.navigation {
    display: flex;
    justify-content: space-between;
    padding: 53px 215px 0;
    nav ul{
        display: flex;
        gap: 70px;
        li {
            list-style: none;
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}
.center-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1{
        width: 919px;
        margin-top: 230px;
        color: #FFF;
        font-family: Montserrat;
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 8px;
    }
    p{
        margin-top: -40px;
        margin-bottom: 240px;
    }
}
main p{
    width: 470px;
}
main .first-section {
    display: flex;
    padding-bottom: 120px;
    
    .left-section {
        position: relative;
        width: 845px;
        height: 527px;

        .background-image {
            position: absolute;
            top: 0; 
            left: 0; 
            z-index: 1; 
           
        }
        
        .foreground-image {
            position: absolute;
            top: 20%; 
            left: 20%; 
            z-index: 2; 
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            border: 2px solid #FFF; 
           
        }
    }
    .right-section {
        margin-right:-70px;
    }
}



main .second-section {
    display: flex;
    flex-direction: row-reverse; 
    padding-bottom: 120px;
    
    .lft-section {
        position: relative; 
        width: 845px;
        height: 527px;

        .bakground-image {
            position: absolute; 
            top: 0; 
            left: 20%; 
            z-index: 1; 
        }
        
        .forground-image {
            position: absolute; 
            top: 20%;
            left: 0; 
            z-index: 2; 
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
            border: 2px solid #FFF; 
        }
    }

    .rght-section {
        margin-left: -70px;
    }
}

.central-section {
    display: flex;
    justify-content: center;
}
.NEWS {
    height: 978px;
    background: linear-gradient(237deg, #24CCFA 11.16%, #3C7FD4 89.18%);
}
.GALLERY{
    height: 978px;
    text-align: center;
}
.CONTACT {
    height: 700px;
    text-align: center;
}
footer {
    height: 549px;
    background-color: #7E5AFF;
    padding-left: 415px;
    padding-top: 203px;
    img {
        margin-bottom: 41px;
    }
    p {
        color: white;
    }
}



