* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor : url('../fonts/cursor/cursor.png'), auto;
    color: #fff;
}

.container {
    margin-inline: auto;
    width: min(90%, 14nmp40px);
    background-color: #39c;
    border: 25px solid #2B81AC;
}
h1 {
    font-size: 1.3125rem;
    font-weight: 400;
    margin: 46px 110px 60px;
}

ul {
    width: 1170px;
    background-color: white;
    padding: 2px;
}

li {
    margin-top: 2px;
    margin-bottom:2px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    height: 147px;
    list-style-type: none;
    transition: opacity 0.1s ease-in;
}
p {
    margin-top: 26px;
    text-align: center;
    font-size: 1.375rem;
    font-weight: 400;
}
i {
    margin-top: 5px;
    padding-left: 10px;
    font-size: 2.625rem;
}
li:hover {
    opacity: 0.9;
    transition: all .1s ease-in;
}
.opacity:hover li:not(:hover) {
    opacity: 0.6;
}

.city-list {
    display: block;
    margin: 0 auto;
}


.city50 {
    width: calc(50% - 4px);
}

.city25{
    width: calc(25% - 4px);
}

.city100{
    width: calc(100% - 4px);
}

#lisbon {
    background-color: #39C;
}

#paris {
    background-color: #3CC;
}

#belgrade {
    background-color: #969;
}

#venice {
    background-color: #C24747;
}

#tel-aviv {
    background-color: #E2674A;
}

#cairo {
    background-color: #FC6;
}

#new-york {
    background-color: #9C9;
}

#new-delhi {
    background-color: #699;
}

#san-francisco {
    background-color: #C69;
}

#tokyo {
    background-color: #396;
}

#sydney {
    background-color: #669;
}


footer {
    margin: 37px 110px 97px;
    
    font-size: 1.2rem;
}