.traffic-light {
    width: 100px;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }
  .light {
    width: 60px;
    height: 60px;
    margin: 10px auto;
    border-radius: 50%;
    background-color: gray;
  }
  .red {
    background-color: red;
  }
  .yellow {
    background-color: yellow;
  }
  .green {
    background-color: green;
  }